<!DOCTYPE html>
<html lang="en">
    
  <%- include('../partials/header.ejs') %>

  <body>
    <%- include('../partials/nav.ejs') %>
    <main class="container">

        <div>
          <h1> Name: <%- task.name %></h1>
          <h2> Title: <%- task.title  %> </h2>
          <p>Task: <%- task.task  %> </p>
          <div>
            <button>
              
              <a href="/api/v1/delete/<%- task._id %>">delete task</a>
            </button>
            <button>edit task</button>
          </div>
        </div>
    </main>


    <%- include('../partials/footer.ejs') %>
  </body>
</html>
